.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: larger;
  border: 2px solid black;
  color: darkblue;
  background-color: gray;
}
